<h1>Feeds#index</h1>

<%= link_to "New Feed", new_feed_path %>

<table>
  <tr>
    <th>feed</th>
    <th>description</th>
  </tr>
  <% @feeds.each do |feed| %>
    <tr>
      <td><%= link_to feed.title, feed %> </td>
      <td> <%= feed.description %></td>
      <br>
    </tr>
  <% end %>
</table>
